* {
    box-sizing: border-box;
}

body {
    background: #282a36;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}

/* Text */
.correct {
    color: #bd93f9;
}

.incorrect {
    color: #ec75c4;
}

.neutral {
    color: #f2f2f2;
}
