* {
  box-sizing: border-box;
  --bg-color: #1f2430;
  --highlight: #6dcbfa;
  --text-primary: #abcc70;
  --text-secondary: #ffffff;
  --text-error: #ed8274;
}

body {
  background: var(--bg-color);
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}
