.nav {
    display: grid;
}

.logo a {
    font-size: 1.5rem;
    color: var(--text-secondary) !important;
}

.nav ul {
    align-items: center;
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
}

.nav ul a {
    margin-right: 10px;
    color: var(--text-primary);
    text-decoration: none;
}
