.App {
  text-align: center;
  font-family: monospace;
}

.character {
  font-size: 1.5rem;
  white-space: pre;
}

.current {
  color: var(--text-primary);
  text-decoration: underline;
}

.out {
  color: var(--text-secondary);
}

.incorrect {
  color: var(--text-error);
}
