.text {
  font-size: 1.5rem;
  font-family: monospace;
}

.typed {
  color: var(--text-primary);
}

.current {
  color: var(--text-secondary);
  text-decoration: underline;
}

.coming {
  color: var(--text-secondary);
}
