.text {
  font-size: 1.5rem;
  font-family: monospace;
}

.correct {
  color: var(--text-primary);
}

.incorrect {
  color: var(--text-error);
}

.current {
  color: var(--text-secondary);
  text-decoration: underline;
}

.coming {
  color: var(--text-secondary);
}

.tab {
  color: var(--highlight);
  font-size: 2rem;
}

.value {
  color: var(--text-primary);
  font-size: 1.85rem;
}
